<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th>Id</th>
        <th>FirstName</th>
        <th>LastName</th>
    </tr>
    <tr th:each="authors:${author}">
        <td th:text="${authors.id}"></td>
        <td th:text="${authors.firstName}"></td>
        <td th:text="${authors.lastName}"></td>
<!--        <td>-->
<!--            <ul>-->
<!--                <li th:each="book : ${author.books}" th:text="${book.title}"></li>-->
<!--            </ul>-->
<!--        </td>-->
    </tr>
</table>
</body>
</html>